@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base propre pour une app full-width/full-height */
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: block; /* IMPORTANT: pas flex */
}
